#hour {
    background-color: honeydew;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clear {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

button {
    color: white;
    background-color: teal;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
}

p {
    margin: 0;
}