body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    margin: 0;
}

#hour {
    background-color: honeydew;
    border-bottom: 1px solid grey;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: white;
    background-color: teal;
    border-radius: 0px 7px 7px 0px;
}
